<table width="600" class="container" style="background:#fff;">
<tr>
<td style="padding:20px;">
<h1 style="font-family:Arial;font-size:22px;margin:0;">
{{EP_TITLE}}
</h1>
</td>
</tr>

{{PLAYER}}

<tr>
<td style="padding:0 20px 20px 20px;">
<a href="{{EP_LINK}}" style="font-family:Arial;font-size:14px;">
Ascolta la puntata sul sito
</a>
</td>
</tr>

{{SHOW_NOTES}}
{{MINI_POST}}
{{BLOGS}}
{{SLIDES}}

<tr>
  <td style="padding:20px;">
  <p>Ti abbiamo rotto? <a href="{{ unsubscribe_url }}">Disiscriviti</a>. Nessun rancore.</p>
  </td>
</tr>

</table>
