<tr>
  <td height="30" style="line-height:20px;font-size:0;">
    &nbsp;
  </td>
</tr>
<tr>
<td class="pad"
    style="padding:24px 28px;
           margin-top: 30px;
           font-family:Arial,Helvetica,sans-serif;
           background:#ffffff;">
  <h1 style="margin:0 0 10px 0;
             font-size:24px;
             font-weight:700;
             color:#111111;">
    La promo
  </h1>

  <p style="margin:0 0 16px 0;
            font-size:14px;
            line-height:1.6;
            color:#333333;">
    {{SPONSOR_TEXT}}
  </p>

  <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
      <td align="center">
        <a href="{{SPONSOR_CTA}}"
           style="display:inline-block;padding:10px 14px;background:#000000;color:#ffffff;text-decoration:none !important;border-radius:8px;font-size:13px;font-weight:700;text-align:center;">
          Approfittane
        </a>
      </td>
    </tr>
  </table>
</td>
</tr>
